@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap');

@font-face {
    font-family: 'CatFont';
    src: url('../assets/fonts/Katto.otf') format('opentype');
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ededed;
    height: 100vh;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 450px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    background-color: #ec817d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    width: 100%;
    height: 20rem;
    user-select: none;
    border-bottom: 2px solid #d47471;
}

.logo {
    font-family: 'CatFont';
    font-size: 4rem;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 8px;
    text-align: center;
}

.desc {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 5px;
    letter-spacing: 4px;
    font-style: italic;
}

/* Main */

main {
    flex-direction: column;
    margin: 1rem;
    width: 95%;
}

.rules {
    margin: 0.5rem;
    flex-direction: column;
}


.instructions {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #404040;
    font-weight: 500;
    text-align: center;
    user-select: none;
}

.scoreboard {
    width: 80%;
    margin: 1em;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    font-size: 18px;
    flex-wrap: wrap;
}

.scoreboard>* {
    background-color: #F68982;
    padding: 0.5em;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin: 0.5rem 3rem;
    border: 1px solid #d47471;
}

.cards-grid {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5rem;
    margin: 0.5rem;
}

.card {
    width: 10rem;
    height: 10rem;
    background-color: #b8b8b8;
    border: 2px solid #7d7d7d;
    border-radius: 25px 10px;
}

.card-btn {
    padding: 0px;
    border: none;
    margin: 5px;
    background-color: transparent;
}

.card-btn:hover {
    cursor: grab;
    transform: scale(1.05);
}

/* Modal */

dialog {
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 100%;
    width: 100%;
    border: none;
}

dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.outcome-modal {
    background-color: white;
    padding: 2rem 1rem;
    margin: 0 30%;
    flex-direction: column;
    text-align: center;
    border: 2px solid #d47471;
    border-radius: 20px;
    gap: 1rem;
    color: #ec817d;
    font-family: 'Dosis', sans-serif;
    min-width: 400px;
}

.outcome-header {
    font-size: 25px;
    letter-spacing: 4px;
}

.outcome-text {
    font-size: 20px;
    color: #646464;
    letter-spacing: 2px;
}

.play-again-btn {
    background-color: #ec817d;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
    border: 2px solid #d47471;
    border-radius: 5px;
}

.play-again-btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
    cursor: grab;
}


/* Footer */

footer {
    user-select: none;
    flex-direction: row;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    gap: 0.4em;
    padding-bottom: 0.5em;
    letter-spacing: 2px;
    color: #404040;
}

.fa-github {
    font-size: 22px;
    color: #F68982;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}