@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500;800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #ededed;
    height: 100vh;
}

header {
    background-color: #F68982;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.instructions {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    color: #404040;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

@font-face {
    font-family: 'CatFont';
    src: url('../assets/fonts/Katto.otf') format('opentype');
}

.logo {
    font-family: 'CatFont';
    font-size: 4em;
    font-weight: lighter;
    color: #fff;
    letter-spacing: 8px;
    text-align: center;
}

.desc {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    color: #fff;
    margin: 5px;
    letter-spacing: 4px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.cards-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 95%;
    gap: 1em;
    margin: 0.5em;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #b8b8b8;
    border: 2px solid #5c5c5c;
    border-radius: 20px 10px;
}


.card-btn {
    padding: 0px;
    border: none;
    margin: 5px;
    background-color: transparent;
}

.card-btn:hover {
    cursor: grab;
    transform: scale(1.05);
}

.rules {
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    margin: 1em;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 5px;
    font-size: 18px;
}

.scoreboard>* {
    background-color: #F68982;
    padding: 0.5em;
    width: 28%;
    text-align: center;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    gap: 0.4em;
    padding-bottom: 0.5em;
    letter-spacing: 2px;
    color: #404040;
}

.fa-github {
    font-size: 20px;
    color: #F68982;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}